html {
    scroll-behavior: smooth;
}

.profile-detail-root-container {
    width: 100vw;
    height: 100vh;
    background: #F6F7FC;

    display: flex;
    /* Flexbox 사용 */
    justify-content: center;
    /* 가로 중앙 정렬 */
}

.profile-detail-container {
    width: 1700px;
    height: fit-content;
}

.account-section-nav {
    display: flex;
    gap: 50px;
    background-color: #FFF;
    height: 45px;
    align-items: center;

    margin-top: 10px;
    padding-left: 180px;
}

.account-section-link {
    text-decoration: none;
    /* 밑줄 제거 */
    background-color: #fff;
    color: #AAA;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.account-section-link:hover {
    color: #0071E3;
}

.profile-analysis-title {
    padding-top: 60px;
    padding-left: 70px;

    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-analysis-box {
    width: 420px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.profile-analysis-box-big {
    width: 950px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.inline-block-div {
    display: inline;
}

.profile-analysis-sub-title {
    color: #AAAAAA;
    font-family: Paperlogy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-analysis-text {
    color: #3D3D3D;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile-percent-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-family: Paperlogy;
    font-size: 14px;
    font-weight: 600;
    color: #AAAAAA;
}

.follower-chart-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* 세로 정렬 */
    align-items: center;
    /* 중앙 정렬 */
}

.profile-analysis-box-array {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 35px;
}

/* 차트 컨테이너 */
.relative-chart-container {
    position: relative;
}

/* 평균선 텍스트 스타일 */
.average-line-text {
    font-family: Paperlogy;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
    color: #3D3D3D;
}

.average-line-big-text {
    font-family: Paperlogy;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    color: #3D3D3D;
}

.profile-analysis-title2 {
    font-family: Paperlogy;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
    color: #2B2F33;

    margin-left: 180px;
    margin-top: 120px;
}

.profile-analysis-title3 {
    font-family: Paperlogy;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
    color: #AAAAAA;

    padding-left: 180px;
    padding-bottom: 25px;
}

.sub-growth-rate-text {
    font-size: 24px;
    font-family: Paperlogy;
    font-weight: 700;
    color: #0071E3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding-left: 150px;
}

.normal-text {
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pie-label-text {
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.account-text-bold {
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.account-text-normal {
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}