#root{
    background: linear-gradient(180deg, #F6F7FC 0%, #FFF 100%);
    width:1920px;


}
.container {
   
    width:1920px;
    height: 100%;
}

.analysis-container{
    justify-content: center;
    width: 1775px;
    min-height: 1743px;
    max-height: 2284px;
    margin-left: 72px;
    margin-top: 134px;
    background-color: #ffffff;

}
    .title-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin-top:57px;
    margin-left:69px;
    margin-bottom: 24px;
    padding-top:57px;
    background-color: #ffffff;
}


.analysis-title {
    
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

hr{
    width: 1775px;
    border: 1px solid #DFDFDF;
}
/* SNS 버튼 스타일 */
.sns-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 20px; /* 버튼 간격 */
    margin-left: 69px;
}

.instagram-button {
    width: 105px;
    height: 35px;
    display: flex;
    justify-content: space-between; /* 요소들을 가로 정렬 */

    padding: 7px 10px;
    text-align: center;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.youtube-button, .tiktok-button {
    width: 85px;
    height: 35px;
    display: flex;
    justify-content: space-between; /* 요소들을 가로 정렬 */

    padding: 10px 15px;
    text-align: center;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.sns-icon {
    width: 15px;
    height: 15px;
}



/* 고급 필터 버튼 */
.advanced-filter-settings-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
}

.advanced-filter-settings-contents{
    display: flex;
    justify-content: space-around;
    padding-bottom: 7px;
}

.advanced-filter-content{
    height: 15px;
    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 31px;
    margin-top:9px;
}
.advanced-filter-settings {
    width: 157px;
    height: 33px;
    padding: 10px 10px;
    text-align: center;
    border: none;
    justify-content: center;
    background-color: #5E51FF;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 69px;
 


}

.filter-icon{
    width: 19px;
    height: 13px;
    flex-shrink: 0;
}

.advanced-filter-settings:hover {
    background-color: #bbb;
}

.filter-arrow-icon{
    width:18px;
    height: 18px;
}

/* 필터 창 스타일 */
.filter-container {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: flex-start; /* 왼쪽 정렬 */
    height: 341px;

}



.tag1-category-title{
    display: flex;
    width: 50px;
    flex-direction: column;
    justify-content: start;
    flex-shrink: 0;
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
    margin-bottom: 16px;
}

.category-title{
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}
/* 카테고리 컨테이너 */
.tag1 {
   
    flex-direction: column; /* 카테고리는 세로 정렬 */
    gap: 10px;
    width: 400px;
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-right:110px;
margin-left: 50px;
}

/* 카테고리 버튼 그룹 */
.filter-category-buttons {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 배치 */
    gap: 10px;
    justify-content: center;
    flex-shrink: 0;
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* 팔로워 수, 좋아요 수, 조회 수 컨테이너 */
.tag-group {
    display: flex;
    justify-content: space-between; /* 요소들을 가로 정렬 */
    width:1775px;
}


/* 개별 필터 블록 (팔로워 수, 좋아요 수, 조회 수) */
.tag2, .tag3, .tag4 {
    flex: 1; /* 동일한 크기로 정렬 */
    min-width: 250px; /* 최소 너비 설정 */

}

/* 버튼 스타일 */
.filter-button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #2B2F33;
text-align: center;
font-family: Paperlogy;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 4px 10px;
    
}

.filter-button.selected {
    background-color:#F0F0F0;
    color: white;
}

/* 숫자 입력 박스 */
.range-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-shrink: 0;
    width: 348px;
    height: 32px;
}


.range-inputs input {
    width: 163px;
    height: 32px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    color: #A3A3A3;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}




.filter-container.active {
    display: flex; /* 활성화되면 표시 */
}

/* 필터 버튼 스타일 */
.filter-category-buttons {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start; /* 왼쪽 정렬 */
    
}

.filter-range-buttons {
    display: flex;
    width: 350px;
    gap: 4px;
    flex-direction: column;
}




.filter-button-ver2 {
    width: 169px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #D0D0D0;
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 4px;
    padding-bottom:4px;
}
.filter-button.selected {
    background-color: #F0F0F0;
    color: #111;
}

.filter-button-ver2.selected {
    background-color: #F0F0F0;
    color: #111;
}

/* 필터 적용 및 초기화 버튼 */
.filter-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 72px;
}

.filter-reset {
    width: 115px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    background: #FFF;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.filter-apply-button {
    width: 87px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5E51FF;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border:none;
    }



.filter-reset:hover {
    background-color: #bbb;
}

.filter-apply {
    background-color: #007bff;
    color: white;
}

.filter-apply:hover {
    background-color: #0056b3;
}

/* 총 인플루언서 수 */
.total-influencer-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 89px;
}

.total-number{
    color: #5E51FF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 4px;
    margin-right: 4px;
}

/* 인플루언서 리스트 테이블 */
.table-container {
    overflow-x: auto;
}

.influencer-table {
    width: 1775px;
    border-collapse: collapse;
}

/* .influencer-table th,
.influencer-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.influencer-table th {
    background-color: #f4f4f4;
    font-weight: bold;
} */



/* 테이블 헤더와 각 열의 너비 지정 */
.influencer-table th:nth-child(1),
.influencer-table td:nth-child(1) {
    width: 320px; /* 계정 */
    height: 40px;
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-right: 2px solid #DEDEDE;
    text-align: start;
padding-left: 89px;
}

/* 카테고리와 태그를 감싸는 컨테이너 */
.category-container, .tag-container {
    display: flex;
    gap: 6px; /* 박스 사이 간격 */
    justify-content: start; /* 왼쪽 정렬 */
    flex-direction: row;

    
}

/* 개별 카테고리 박스 스타일*/
.category-box{
    padding: auto;
    height: 18px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #FBECFB;    
    color: #2B2F33;
    text-align: center;
    font-family: Paperlogy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3px 9px 3px 9px; /* 상, 우 , 하, 좌 */

    justify-content: center;
}
/* 개별 태그 박스 스타일 */
.tag-box {
    padding: auto;
    height: 18px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #EFEFFE;    
    color: #8476FF;
    text-align: center;
    font-family: Paperlogy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3px 9px 3px 9px; /* 상, 우 , 하, 좌 */

    justify-content: center;
}

.influencer-table th:nth-child(2),
.influencer-table td:nth-child(2) {
    width: 160px; /* 카테고리 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
    padding-left: 40px;
}

.influencer-table th:nth-child(3),
.influencer-table td:nth-child(3) {
    width: 160px; /* 태그 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;

}


.influencer-table th:nth-child(4),
.influencer-table td:nth-child(4) {
    width: 160px; /* 팔로워 수 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;

}

.influencer-table th:nth-child(5),
.influencer-table td:nth-child(5) {
    width: 160px; /* 평균 조회수 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;

}

.influencer-table th:nth-child(6),
.influencer-table td:nth-child(6) {
    width: 160px; /* 평균 좋아요 수 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;

}

.influencer-table th:nth-child(7),
.influencer-table td:nth-child(7) {
    width: 160px; /* 평균 댓글 수 */
    color: #2B2F33;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;

}

/* 홀수 번째 행 (회색 배경) */
.influencer-table tbody tr:nth-child(odd) {
    background-color: #FAFAFA; /* 연한 회색 */
}

/* 짝수 번째 행 (흰색 배경) */
.influencer-table tbody tr:nth-child(even) {
    background-color: #FFF;; /* 흰색 */
}

/* 프로필 스타일 */
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* 계정 정보 스타일 */
.account-info-container {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100px;

}

.account-details {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.account-name {
    color: #2B2F33;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.account-description {
    color: #8B8B8B;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.analysis-second-filter-range-buttons {
    width: 345px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 버튼씩 배치 */
    gap: 7px; /* 버튼 간격 */
    margin-bottom: 21px;
    margin-top: 16px;
  }