.maingradBackground {
    width: 100vw;
    height: 1000px;
    flex-shrink: 0;
    background: linear-gradient(76deg, #FCF8FF -3%, #EEF9FF 109.96%);
}

.mainDiv2 {
    width: 100vw;
    background: #fff;
    text-align: center;
    display: flex;
    /* Flexbox 사용 */
    justify-content: center;
    /* 가로 중앙 정렬 */
}

.mainDiv3 {
    width: 100vw;
    padding-top: 140px;
    padding-bottom: 140px;
    background: #F4F6FF;
    text-align: center;
    display: flex;
    /* Flexbox 사용 */
    justify-content: center;
    /* 가로 중앙 정렬 */
}

.maingradText {
    padding-top: 120px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 75px;
    /* 138.889% */

    background: linear-gradient(90deg, #2A11D0 7.53%, #504CFF 47%, #8A87FF 93.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grayText1 {
    padding-top: 20px;

    color: #454545;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

