.maingradBackground {
    width: 100vw;
    height: 1500px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #C3EBF9 0%, #FFF 104.03%);
}

.white-background {
    background: white;
    width: 100vw;
    flex-shrink: 0;
}

.skyblue-background {
    background: #E0F5FC;
    width: 100vw;
    flex-shrink: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* 수평 정렬 */
    align-items: center;
    /* 수직 정렬 */
}

.inline-div {
    display: inline-block;
}

.maingradText {
    margin-top: 330px;
    margin-bottom: 0px;

    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* 138.889% */

    background: linear-gradient(180deg, #004C94 0%, #014D95 47%, #2172BB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grayText1 {
    color: #454545;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-text {
    color: #2B2B2B;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    /* 144.444% */
}