.maingradBackground {
    width: 100vw;
    height: 1500px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #C3EBF9 0%, #FFF 104.03%);
}

.mainDiv3 {
    width: 100vw;
    padding-top: 140px;
    padding-bottom: 140px;
    background: #F4F6FF;
    text-align: center;
    display: flex;
    /* Flexbox 사용 */
    justify-content: center;
    /* 가로 중앙 정렬 */
}

.maingradText {
    padding-top: 80px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* 138.889% */

    background: linear-gradient(180deg, #004C94 0%, #014D95 47%, #2172BB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grayText1 {
    padding-top: 20px;

    color: #454545;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Paperlogy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainpage-image {
    margin-top: 60px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}